.flex-column{
    height: calc(100vh - 17rem);
}
.text-align-right {
    text-align: right;
}


.example-container {
    overflow: auto;
}
  
table {
    width: 100%;
}

.text-transform {
    text-transform: uppercase;
    color: black;
}