<!-- Titre Nav -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onHamburger.emit()">
      <mat-icon>menu</mat-icon>
    </button> <span class="ml-2" *ngIf="ready">Devis n° {{ devis.id }} - {{ projet.title }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content-page d-flex flex-column px-2">
  <div id="info-row" class="row my-3" *ngIf="ready">
    <div class="col-8">
      <!-- Card Info Client / projet-->
      <mat-card class="h-100">
        <div class="row h-100 align-content-around">
          <div class="col-12"><span class="text-muted">Client : </span>{{ client.fullName }}</div>
          <div class="col"><span class="text-muted">Projet débuté le :
            </span>{{ projet.creationDate | date: 'fullDate' }}</div>
          <div class="col-6"><span class="text-muted">Projet terminé le : </span>en cours</div>
        </div>
      </mat-card>
    </div>
    <div class="col-4">
      <!-- Card Coût du projet-->
      <mat-card>
        <div class="row h-100 align-content-around">
          <p class="col-6 m-0 text-muted">Total HT :</p><span
            class="col-6 text-align-right">{{ totalHT * totalQte | number: '1.2-2':'fr'}} €</span>
          <p class="col-6 m-0 text-muted">TVA : </p><span
            class="col-6 text-align-right">{{ (totalTTC * totalQte) - (totalHT * totalQte) | number: '1.2-2':'fr'}} €</span>
          <p class="col-6 m-0 text-muted">Total TTC : </p><span
            class="col-6 text-align-right">{{ totalTTC * totalQte | number: '1.2-2':'fr'}} €</span>
        </div>
      </mat-card>
    </div>
  </div>



  <div class="d-flex flex-column h-100">
    <mat-card class="p-0 flex-grow-1 overflow-y-scroll" *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Designation Column -->
        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef>Désignation</th>
          <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
          <td mat-footer-cell *matFooterCellDef>{{ footers.designation }}</td>
        </ng-container>

        <!-- Gamme Column -->
        <ng-container matColumnDef="gamme">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Gamme</th>
          <td mat-cell *matCellDef="let element"> {{element.gamme}} </td>
          <td mat-footer-cell *matFooterCellDef>{{ footers.gamme }}</td>
        </ng-container>

        <!-- Quantité Column -->
        <ng-container matColumnDef="quantite">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantité</th>
          <td mat-cell *matCellDef="let element" class="text-align-right"> {{element.quantite}} </td>
          <td mat-footer-cell *matFooterCellDef class="text-align-right">{{ footers.quantite }}</td>
        </ng-container>

        <!-- PU HT Column -->
        <ng-container matColumnDef="puht">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PU Brut</th>
          <td mat-cell *matCellDef="let element" class="text-align-right"> {{element.puht | number: '1.2-2':'fr'}} €</td>
          <td mat-footer-cell *matFooterCellDef class="text-align-right">{{ footers.puht | number: '1.2-2':'fr' }} €</td>
        </ng-container>

        <!-- PU TTC Column -->
        <ng-container matColumnDef="puttc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PU Net</th>
          <td mat-cell *matCellDef="let element" class="text-align-right"> {{element.puttc | number: '1.2-2':'fr'}} €</td>
          <td mat-footer-cell *matFooterCellDef class="text-align-right">{{ footers.puttc | number: '1.2-2':'fr' }} €</td>
        </ng-container>

        <!-- Total Ligne Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total HT</th>
          <td mat-cell *matCellDef="let element" class="text-align-right"> {{element.puht * element.quantite | number: '1.2-2':'fr'}} €</td>
          <td mat-footer-cell *matFooterCellDef class="text-align-right">{{ footers.total | number: '1.2-2':'fr' }} €</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    </mat-card>

    <div class="emptyState" *ngIf="!dataSource">
      <img src="../../../../assets/svg/illustrations/devis.svg">
      <div class="subtitle">
        <h3>Ce devis est vide...</h3>
        <h5>Pour l'instant !</h5>
      </div>
    </div>

    <!-- Card total projet -->
    <div class="row my-2" *ngIf="ready">
      <div class="col-7">
        <mat-card class="py-0">
          <div class="row">
            <div class="col-5 mt-auto">
               <mat-form-field>
                 <mat-label>Temps estimé</mat-label>
                 <input [(ngModel)]="devis.estimatedTime" matInput type="number" placeholder="42.5" class="text-align-right">
                 <span matSuffix> {{ estimatedTime >= 2 ? 'heures' : 'heure' }}</span>
               </mat-form-field>
            </div>
            <div class="col-7 text-align-right">
              <p> <span class="text-muted">Main d'oeuvre horaire :</span> {{ totalHT / estimatedTime | number:'1.2-2':'fr' }} € / heure</p>
              <p> <span class="text-muted">Main d'oeuvre estimée :</span> {{ totalHT / estimatedTime | number:'1.2-2':'fr' }} € / heure</p>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-auto ml-auto mt-auto">
        <a href="mailto:{{client.email}}" mat-stroked-button color="primary">Envoyer le devis par mail</a>
      </div>
    </div>

  </div>
</div>
