<div [class.page-dossier]="!printMode" *ngIf="ready">
  <div *ngIf="!printMode">
    <!-- Titre Nav -->
    <mat-toolbar color="primary">
      <mat-toolbar-row *ngIf="projet" class="d-flex">

        <button mat-icon-button [routerLink]="['/projets', projet.id]">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <span class="ml-2">Dossier technique n°{{ projet.dossierTechniqueId }} - {{ projet.title }}</span>

        <button mat-icon-button (click)="print()" class="ml-auto">
          <mat-icon>print</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <h3 class="ml-4">Modèle {{ projet.dossierTechnique.modele.description }}</h3>
  </div>

  <div class="bg-white" *ngIf="printMode">
    <div class="d-flex p-3 pb-5">
      <div class="d-flex flex-column flex-1">
        <img class="w-50 mb-auto" src="../../../../assets/png/LogoTitre_Legacy.png">
        <p>
          12 Rue de l'Europe Lomme <br>
          59160 Lille <br>
          Tel. +33 (0)3 20 32 32 37 <br>
          Fax. +33 (0)3 20 60 61 51
        </p>
      </div>
      <div class="d-flex flex-column flex-1">
        <div class="d-flex mb-2">
          <mat-icon class="my-auto mr-2">assignment</mat-icon>
          <span class="mat-h1 my-auto">Dossier Technique n°{{ projet.dossierTechniqueId }}</span>
        </div>
        <mat-card class="d-flex flex-column">
          <span class="mat-h3 mb-1">Projet : {{ projet.title }}</span>
          <span class="mat-h5">Débuté le {{ projet.creationDate | date: 'shortDate' }}
            <span *ngIf="projet.endDate">
              et terminé le {{ projet.endDate | date: 'shortDate'}}
            </span>
          </span>
          <span class="mat-h4 mb-1">Client : {{projet.client.fullName}} </span>
          <span class="mat-h5">
            Tel. : {{ projet.client.phone }}      Mobile : {{ projet.client.mobile }} <br>
            Email : {{ projet.client.email }}
          </span>
        </mat-card>
      </div>
    </div>
  </div>

  <div>
    <!-- Tableau des produits -->
    <table class="mat-table m-4 p-2 mat-elevation-z2" id="tableau-dossier">
      <tr class="mat-row">
        <th class="mat-header-cell">Produit</th>
        <th class="mat-header-cell">Coupe de principe</th>
        <th class="mat-header-cell">Gamme</th>
        <!-- <th class="mat-header-cell">CCTP</th> -->
      </tr>
      <ng-container *ngFor="let mp of projet.dossierTechnique.modele.modeleProduit">
        <tr class="mat-row">
          <td class="mat-cell">{{ mp.produit.description }}</td>
          <td class="mat-cell">{{ mp.produit.coupeDePrincipe.description }}</td>
          <td class="mat-cell">{{ mp.produit.gamme.description }}</td>
          <!-- <td class="mat-cell">{{ mp.produit.cctp.description }}</td> -->
        </tr>
        <tr class="mat-row">
          <td colspan="3">

            <!-- Tableau des modules -->
            <table class="mat-table child">
              <tr class="mat-row">
                <th class="mat-header-cell">Module</th>
                <th class="mat-header-cell">Cout de fabrication</th>
                <th class="mat-header-cell">Longueur</th>
                <th class="mat-header-cell">Hauteur</th>
              </tr>
              <ng-container *ngFor="let pm of mp.produit.produitModule">
                <tr class="mat-row">
                  <td class="mat-cell">{{ pm.module.description }}</td>
                  <td class="mat-cell">{{ pm.module.labourCosts }} € / m²</td>
                  <td class="mat-cell"><span
                      *ngIf="pm.module.caracteristiques[0]">{{ pm.module.caracteristiques[0].value }} m</span></td>
                  <td class="mat-cell"><span
                      *ngIf="pm.module.caracteristiques[1]">{{ pm.module.caracteristiques[1].value }} m</span></td>
                </tr>
                <tr class="mat-row">
                  <td colspan="4">

                    <!-- Tableau des composants -->
                    <table class="mat-table child">
                      <tr class="mat-row">
                        <th class="mat-header-cell">Composant</th>
                        <th class="mat-header-cell">Famille</th>
                        <th class="mat-header-cell">Gamme</th>
                        <th class="mat-header-cell align-right">Qté</th>
                        <th class="mat-header-cell align-right">PU HT</th>
                        <!-- <th class="mat-header-cell align-right">PU TTC</th> -->
                        <!-- <th class="mat-header-cell align-right">Total</th> -->
                        <th class="mat-header-cell align-right">Caracteristique</th>
                      </tr>
                      <tr class="mat-row" *ngFor="let cm of pm.module.moduleBase.composantModule">
                        <td class="mat-cell">{{ cm.composant.name }}</td>
                        <td class="mat-cell">{{ cm.composant.familleComposant.nature }}</td>
                        <td class="mat-cell">{{ cm.composant.gammeComposant.description }}</td>
                        <td class="mat-cell align-right">{{ cm.quantity | number:'1.0-0':'fr' }}</td>
                        <td class="mat-cell align-right">{{ cm.composant.unitPriceNoTax | number:'1.2-2':'fr' }}</td>
                        <!-- <td class="mat-cell align-right">{{ cm.composant.unitPriceTax | number:'1.2-2':'fr' }}</td> -->
                        <!-- <td class="mat-cell align-right">{{ cm.composant.unitPriceTax * cm.quantity | number:'1.2-2':'fr' }}</td> -->
                        <td class="mat-cell align-right">
                          {{ cm.composant.caracteristiques[0].value + ' ' +cm.composant.caracteristiques[0].unite.code }}
                        </td>
                      </tr>
                      <tr>
                        <td class="divider" colspan="7"></td>
                      </tr>
                      <tr *ngIf="pm">
                        <td class="footer mat-cell" colspan="3">Total</td>
                        <td class="footer align-right">
                          {{ totalsModule[pm.produitId+'-'+pm.moduleId]['quantity'] | number:'1.0-0':'fr' }}</td>
                        <!-- <td class="footer align-right">{{ totalsModule[pm.produitId+''+pm.moduleId]['puht'] | number:'1.2-2':'fr' }}</td>
                <td class="footer align-right">{{ totalsModule[pm.produitId+''+pm.moduleId]['puttc'] | number:'1.2-2':'fr' }}</td>
                <td class="footer align-right">{{ totalsModule[pm.produitId+''+pm.moduleId]['total'] | number:'1.2-2':'fr' }}</td> -->
                      </tr>
                    </table>

                  </td>
                </tr>
              </ng-container>
            </table>

          </td>
        </tr>
      </ng-container>
    </table>
  </div>

  <ng-container class="mt-5" *ngIf="printMode">
    <span class="mat-caption">IBAN : FR36 7354 7629 60D7 AL5M TUW8 U51</span>
  </ng-container>
</div>
