<div class="d-flex flex-column h-100">
  <div class="imagePlanContainer">
    <img
      src="https://travauxlib.cdn.prismic.io/travauxlib/edcc0c68a72d78a8b26b2b9daaf5ce38f9fb1ebb_plan-technique-maison-cotes.jpg"
      class="imagePlan">
  </div>

  <div class="infoProjet px-4 pb-3">
    <div class="row">

     <mat-form-field class="mt-4 col-12">
       <input type="text" [(ngModel)]="currentProjet.title" matInput placeholder="Nom du Projet">
     </mat-form-field>

      <mat-form-field class="mt-2 col-6">
        <input type="text" [(ngModel)]="currentProjet.version" matInput placeholder="Version">
      </mat-form-field>

      <div class="col-6"></div>

      <mat-form-field class="col-6">
        <input type="text" [(ngModel)]="currentProjet.client.firstName" matInput placeholder="Nom du Client">
      </mat-form-field>

      <div class="col-6"></div>

      <mat-form-field class="col-6">
        <input matInput [(ngModel)]="currentProjet.creationDate" [matDatepicker]="dateDebutPicker" placeholder="Date de début du projet">
        <mat-datepicker-toggle matSuffix [for]="dateDebutPicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dateDebutPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-6">
        <input matInput [(ngModel)]="currentProjet.creationDate" [matDatepicker]="dateFinPicker"
          placeholder="Date de fin du projet">
        <mat-datepicker-toggle matSuffix [for]="dateFinPicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dateFinPicker></mat-datepicker>
      </mat-form-field>


      <div class="d-flex col-12 mt-2">
        <button mat-button color="warn" class="mr-auto" (click)="delete()">Supprimer le projet</button>
        <button mat-stroked-button color="basic" (click)="exit('cancel')" class="mr-3">Annuler</button>
        <button mat-raised-button color="primary" (click)="exit('save')"><mat-icon class="md-18 align-bottom">save</mat-icon>Enregistrer</button>
      </div>
    </div>
  </div>
</div>