<!-- Titre Nav -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>menu</mat-icon> <span class="ml-2">Liste des clients</span>
  </mat-toolbar-row>
</mat-toolbar>


<!-- Titre Nav -->
<div class="contentPage row m-3 h-100">
  <div class="col-sm-4 h-100 overflow-hidden">
    <mat-card class="mb-3 py-2 pb-0">
      <mat-form-field class="w-100">
        <input type="text" matInput placeholder="Rechercher un client">
        <mat-icon matSuffix>filter_list</mat-icon>
      </mat-form-field>
    </mat-card>
    
    <div class="d-flex flex-column colUserList">
      
      <div class="h-100 w-100 d-flex" *ngIf="clientListLoading">
        <mat-spinner [strokeWidth]="2" [diameter]="30" class="m-auto"></mat-spinner>
      </div>
      <mat-action-list class="scroll h-100 mb-3" *ngIf="!clientListLoading">
        <mat-list-item (click)="selectClient(client, index)" *ngFor="let client of clients; let index = index">
          <mat-icon mat-list-icon>people</mat-icon>
          <h4 mat-line>{{ client.fullName }}</h4>
        </mat-list-item>
      </mat-action-list>
      
      <button mat-raised-button color="primary" class="flex-shrink-1">Ouvrir le plan</button>
    </div>
  </div>
  
  
  
  
  
  
  
  
  <!-- Formulaire -->
  <div class="col-8 h-100 d-flex flex-column background" >
    
    <!-- Info client -->
    <div class="row">        
      
      <!-- Nom & Prenom -->
      <mat-form-field class="example-full-width text-secondary col-6 mt-3 mb-2">
        <input matInput placeholder="Prenom" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width text-secondary col-6 mt-3 mb-2">
        <input matInput placeholder="Nom" value="">
      </mat-form-field>
      
      <!-- Adresse -->
      <mat-form-field class="example-full-width text-secondary col-12 mb-2">
        <input matInput placeholder="Adresse" value="">
      </mat-form-field>
      
      <!-- Code postal & Ville -->
      <mat-form-field class="example-full-width text-secondary col-3 mb-2">
        <input matInput placeholder="Code postal" value="" type="number">
      </mat-form-field>
      <mat-form-field class="example-full-width text-secondary col-9 mb-2">
        <input matInput placeholder="Ville" value="">
      </mat-form-field>
      
      <!-- Telephone fixe & Telephone fixe -->
      <mat-form-field class="example-full-width text-secondary col-6 mb-2">
        <input matInput placeholder="Téléphone fixe" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width text-secondary col-6 mb-2">
        <input matInput placeholder="Téléphone portable" value="">
      </mat-form-field>
      
      <!-- Adresse mail -->
      <mat-form-field class="example-full-width text-secondary col-6 mb-2">
        <input matInput placeholder="Adresse mail" value="" type="email">
      </mat-form-field>
      
      
    </div>
    
    <!-- Boutons -->
    <div class="d-flex w-100 mt-auto mb-3">
      <button mat-button color="warn" class="mr-auto">Supprimer le projet</button>
      <button mat-raised-button color="primary">Ouvrir le plan</button>
    </div>
    
  </div>
</div>
