.list-group-item.active {
    background-color: grey;
    border: none;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 4rem;
}

.scroll {
    overflow-y:scroll;
}

.infoProjet {
    background-color: rgba(0, 0, 0, 0.04);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    span {
      color: black;
      font-weight: bold;
    }
}

.emptyState {
    display: flex;
    flex-direction: column;
    height: 100%;

    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        width: 20rem;
        height: 20rem;
    }

    .subtitle {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;

        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: 0.5rem;
        }

        button {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.imagePlanContainer {

    flex: 1;
    min-height: 10rem;

    .imagePlan {
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
        object-fit: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
}

mat-action-list {
    padding-bottom: 6rem;

    mat-icon {
        opacity: 0.60;
    }

    mat-list-item {
        &.selected {
            background: rgba(0, 0, 0, 0.05);
        }
    }
}

.contentPage {
    height: calc(100vh - 9.5rem);
}

mat-expansion-panel-header {
    
    mat-panel-description {
        margin-right: 0;
        justify-content: space-between;
        align-items: center;

        mat-icon {
            color: black !important;
        }
    }

    input {
      color: black !important;
    }

}

button[mat-fab] {
    right: unset;
    left: 25vw;
    position: relative;
    bottom: 20vh;
}

.locked {
    opacity: 0.5;
}