<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>menu</mat-icon> <span class="ml-2">Liste des projets</span>
  </mat-toolbar-row>
</mat-toolbar>



<div class="contentPage row m-3 h-100">
  <div class="col-sm-4 h-100 overflow-hidden">
      <mat-card class="mb-3 py-2 pb-0">
        <mat-form-field class="w-100">
          <input type="text" matInput placeholder="Rechercher un Projet">
          <mat-icon matSuffix>filter_list</mat-icon>
        </mat-form-field>
      </mat-card>

      <div class="h-100 w-100 d-flex" *ngIf="projetListLoading">
        <mat-spinner [strokeWidth]="2" [diameter]="30" class="m-auto"></mat-spinner>
      </div>
      <mat-action-list class="scroll h-100" *ngIf="!projetListLoading">
        <mat-list-item (click)="selectProjet(projet, index)" *ngFor="let projet of projets; let index = index">
          <mat-icon mat-list-icon>description</mat-icon>
            <h4 mat-line>{{ projet.title }}</h4>
            <span mat-line class="mat-caption">Projet du {{ projet.creationDate | date: 'shortDate' }}</span>
        </mat-list-item>
      </mat-action-list>
  </div>


  <div class="d-flex flex-column col-8 h-100" >
    <div class="emptyState">
      <img src="../../../../assets/svg/illustrations/not-found.svg" *ngIf="!currentProjet">
      <h1>Vous n'avez selectionné aucun projet</h1>
    </div>

    <div *ngIf="currentProjet">
      <div class="imagePlanContainer">
        <img src="https://travauxlib.cdn.prismic.io/travauxlib/edcc0c68a72d78a8b26b2b9daaf5ce38f9fb1ebb_plan-technique-maison-cotes.jpg" class="imagePlan">
      </div>
  
      <div class="infoProjet px-4 pb-3">
          <h1>{{ currentProjet.title }}</h1>
          <div class="row">
            <p class="text-secondary col-12">Version : <span>{{ currentProjet.version }}</span></p>
            <p class="text-secondary col-6">Client : <span>{{ currentProjet.client.fullName }}</span></p>
            <p class="text-secondary col-6">Total TTC : <span>n/a</span></p>
            <p class="text-secondary col-6">Projet débuté le : <span>{{ currentProjet.creationDate | date: 'fullDate' }}</span></p>
            <p class="text-secondary col-6">Projet terminé le : <span>Pas encore terminé</span></p>
  
            <div class="d-flex col-12">
                <button mat-stroked-button color="warn" class="mr-auto">Supprimer le projet</button>
                <button mat-raised-button color="primary" class="mr-3">Ouvrir le devis</button>
                <button mat-raised-button color="primary">Ouvrir le plan</button>
            </div>
          </div>
      </div>
    </div>
    
  </div>
</div>
