<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onHamburger.emit()"><mat-icon>menu</mat-icon></button> <span class="ml-2">Liste des projets</span>
  </mat-toolbar-row>
</mat-toolbar>



<div class="contentPage row m-3 h-100">
  <div class="col-sm-4 pl-1 h-100 overflow-hidden" [class.locked]="editMode">

    <mat-accordion>
      <mat-expansion-panel hideToggle disabled [expanded]="filterMenu && !editMode">
        <mat-expansion-panel-header class="py-2">
          <mat-panel-title class="w-100">
            <mat-form-field class="w-100">
              <input [disabled]="editMode" type="text" [(ngModel)]="searchTerms" (keyup)="filter()"
                matInput placeholder="Rechercher un Projet">
            </mat-form-field>
          </mat-panel-title>
          <mat-panel-description>
            <button mat-icon-button [disabled]="editMode" (click)="filterMenu = !filterMenu"
              matTooltip="Filtrer la liste des projets" [matTooltipPosition]="'after'">
              <mat-icon>filter_list</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="w-100">
          <mat-label>Filtrer par client</mat-label>
          <mat-select [(ngModel)]="selectedClientsIds" (selectionChange)="filter()" multiple>
            <mat-option *ngFor="let client of listClient" [value]="client.id">{{ client.fullName }}</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-expansion-panel>
    </mat-accordion>

    <div class="h-100 w-100 d-flex" *ngIf="projetListLoading">
      <mat-spinner [strokeWidth]="2" [diameter]="30" class="m-auto"></mat-spinner>
    </div>
    <mat-action-list class="scroll mt-3 h-100" *ngIf="!projetListLoading">
      <mat-list-item (click)="selectProjet(projet, index)" [class.selected]="currentProjet === projet"
        *ngFor="let projet of projets; let index = index" [disableRipple]="editMode">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <h4 mat-line>{{ projet.title }}</h4>
        <span mat-line class="mat-caption">{{ projet.client.fullName }} - {{ projet.creationDate | date: 'shortDate' }}</span>
      </mat-list-item>
    </mat-action-list>

    <button mat-fab color="accent" [disabled]="editMode" (click)="createProjet()">
      <mat-icon>add</mat-icon>
    </button>
  </div>


  <div class="col-8 h-100">
    
    <div class="emptyState" *ngIf="!currentProjet">
      <img src="../../../../assets/svg/illustrations/not-found.svg">
      <div class="subtitle">
        <h3>Aucun projet selectionné.</h3>
        <button mat-button color="primary" (click)="createProjet()">Créer un projet</button>
      </div>
    </div>

    <app-edit-project *ngIf="editMode" (done)="exitedEditMode($event)" [createMode]="createMode" [(currentProjet)]="currentProjet"></app-edit-project>
    
    <div *ngIf="currentProjet && !editMode" class="d-flex flex-column h-100">
      <div class="imagePlanContainer">
        <img
          src="https://travauxlib.cdn.prismic.io/travauxlib/edcc0c68a72d78a8b26b2b9daaf5ce38f9fb1ebb_plan-technique-maison-cotes.jpg"
          class="imagePlan">
      </div>
    
      <div class="infoProjet px-4 pb-3">
        <div class="d-flex">
          <h1>{{ currentProjet.title | slice:0:45 }}<span *ngIf="currentProjet.title.length > 45">...</span></h1>
          <button mat-icon-button (click)="changeEditMode(true)" matTooltip="Editer le projet"
                  [matTooltipPosition]="'after'" class="my-auto ml-2">
            <mat-icon class="text-muted">edit</mat-icon>
          </button>
        </div>
        <div class="row">
          <p class="text-secondary my-1 col-12">Version : <span>{{ currentProjet.version }}</span></p>
          <p class="text-secondary my-1 col-6">Client : <a
              [routerLink]="['/customers', currentProjet.client.id]"><span>{{ currentProjet.client.fullName }}</span></a>
          </p>
          <p class="text-secondary my-1 col-6">Total TTC : <span>{{ totalTTC | number:'1.2-2':'fr' }} €</span></p>
          <p class="text-secondary my-1 col-6">Projet débuté le :
            <span>{{ currentProjet.creationDate | date: 'fullDate' }}</span></p>
          <p class="text-secondary my-1 col-6">
            Projet terminé le :
            <span *ngIf="currentProjet.endDate.getFullYear() !== 1">{{ currentProjet.endDate | date: 'fullDate' }}</span>
            <span *ngIf="currentProjet.endDate.getFullYear() === 1">en cours</span>
          </p>
    
          <div class="d-flex col-12 mt-4 justify-content-end">
            <button mat-raised-button color="primary" [routerLink]="['/devis', currentProjet.id]" class="mr-3">Ouvrir le devis</button>
            <button mat-raised-button color="primary">Ouvrir le plan</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
