<!-- Titre Nav -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="onHamburger.emit()"><mat-icon>menu</mat-icon></button> <span class="ml-2">Liste des utilisateurs</span>
  </mat-toolbar-row>
</mat-toolbar>




<!-- Bar de Recherche -->
<div class="contentPage row m-3 h-100">
  <div class="col-sm-4 pl-1 h-100 overflow-hidden">
    <mat-card class="mb-3 py-2 pb-0">
      <mat-form-field class="w-100">
        <input type="text" matInput placeholder="Rechercher un utilisateur">
        <mat-icon matSuffix>filter_list</mat-icon>
      </mat-form-field>
    </mat-card>
    
    <!-- Liste des utilisateurs -->
    <div class="colUserList">        
      <div class="h-100 w-100" *ngIf="utilisateurListLoading">
        <mat-spinner [strokeWidth]="2" [diameter]="30" class="m-auto"></mat-spinner>
      </div>
      <mat-action-list class="scroll h-100 mb-3" *ngIf="!utilisateurListLoading">
        <mat-list-item (click)="selectUtilisateur(utilisateur, index)" *ngFor="let utilisateur of utilisateurs; let index = index">
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line>{{ utilisateur.username }}</h4>
        </mat-list-item>
      </mat-action-list>        
  
      <button mat-fab color="accent" (click)="createUtilisateur()">
          <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
    
    
  <!-- Formulaire Ajout utilisateur -->
  <div class="col-8 h-100 d-flex flex-column background">

    <div class="row">               
      <!-- Profil icon -->
      <div class="text-align-center w-30 m-auto pt-3">
        <img src="../assets/svg/illustrations/Profil_icon_black.svg" class="Profil_icon">
      </div>

      <!-- Identifiant utilisateur -->
      <mat-form-field class="col-12 mt-2 mb-2">
        <input matInput placeholder="Identifiant utilisateur" value="">
      </mat-form-field>
      
      <!-- Mot de passe -->
      <mat-form-field class="col-12 mb-2">
        <input matInput placeholder="Mot de passe (6 caractères minimum)" [type]="passwordHide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      
      <!-- Administrateur oui/non -->      
      <mat-slide-toggle class="col-12 mb-2 mt-2">Administrateur</mat-slide-toggle>
    </div>
    
    <!-- Boutons -->
    <div class="d-flex w-100 mt-auto mb-3">
      <button mat-button color="warn" class="mr-auto">Supprimer l'utilisateur</button>
      <button mat-raised-button color="primary">Ajouter l'utilisateur</button>
    </div>
    
  </div>
</div>
