@import './app/theme.scss';
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'material-design-icons/iconfont/material-icons.css';
@import './helpers.scss';

body {
  margin: 0 !important;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &.print-mode {
    height: unset;
    margin: 30mm 45mm 30mm 45mm;
    overflow: visible !important;
  }
}

.contentPage {
  height: calc(100vh - 10rem);
}

button:focus {
  outline: 0;
}

mat-toolbar {
  color: white !important;
}

button {

  &:not([mat-icon-button]) {
    mat-icon {
      vertical-align: text-top !important;
      text-align: left;
    }
  }

  &[mat-fab] {
    mat-icon {
      vertical-align: bottom !important;
    }
  }

  &[color="primary"] {

    &[mat-flat-button],
    &[mat-raised-button] {
      color: white !important;
    }

  }

  &[color="warn"] &[mat-stroked-button] {
    border-color: mat-color($warn, 500) !important;
  }

  &[mat-fab] {
    position: absolute;
    right: 3rem;
    bottom: 6rem;
  }
}
