@import './app/theme.scss';
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'material-design-icons/iconfont/material-icons.css';
@import './helpers.scss';

body {
  margin: 0 !important;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:focus {
  outline: 0;
}

mat-toolbar {
  color: white !important;
}

button {

  &[color="primary"] {

    &[mat-flat-button],
    &[mat-raised-button] {
      color: white;
    }

  }

  &[color="warn"] &[mat-stroked-button] {
    border-color: mat-color($warn, 500) !important;
  }

  &[mat-fab] {
    position: absolute;
    right: 3rem;
    bottom: 6rem;
  }
}