.list-group-item.active {
  background-color: grey;
  border: none;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 4rem;
}

.scroll {
  overflow-y: scroll;
}

.emptyState {
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 20rem;
    height: 20rem;
  }

  .subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: 0.5rem;
    }

    button {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

table {
  width: 100%;

  &.module-table {
    tr {
      cursor: pointer;

      &:not(.detail-row)>td:first-child {
        display: flex;
        padding: 0.8rem;

        mat-icon {
          opacity: 0.6;
        }
      }

      &.detail-row {
        height: 0;
        padding: 0;
        margin: 0;

        .ligne-caracteristiques {
          display: flex;

          mat-form-field {
            margin-right: .5rem;
            margin-left: .5rem;

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }

        }
      }
    }

  }

  &.composant-table {
    tr {
        display: table-row !important;
    }
    td {
        display: table-cell !important;
    }
  }

}

mat-action-list {
  padding-bottom: 6rem;

  mat-icon.selected {
    opacity: 0.6;
  }
}

mat-list-item {
  &.selected {
    background: rgba(0, 0, 0, 0.05);
  }
}

mat-expansion-panel-header {

  mat-panel-description {
    margin-right: 0;
    justify-content: space-between;
    align-items: center;

    mat-icon {
      color: black !important;
    }
  }

  input {
    color: black !important;
  }

}

button[mat-fab] {
  position: relative;
  float: right;
  bottom: 9rem;
  right: 2rem;

  &.fab-modele {
    position: fixed;
    bottom: 8rem;
    right: 4rem;
  }
}
button[mat-raised-button] {
  position: relative;
  float: right;
  bottom: 11rem;
  right: 2rem;
}

.locked {
  opacity: 0.5;
}
