<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon>bug_report</mat-icon> <span class="ml-2">Page de test</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
    <h1 class="mat-headline mt-2">Liste des caracteristiques</h1>
    <div class="test-list mt-2 mx-n3 mx-sm-0">
      <mat-action-list>
        <mat-list-item *ngFor="let caracteristique of caracteristiques" (click)="deleteCaracteristique(caracteristique)">{{ caracteristique.description }}
        </mat-list-item>
      </mat-action-list>
    </div>

    <mat-form-field class="example-full-width">
      <input [(ngModel)]="newCaracteristique" matInput placeholder="Caracteristique">
    </mat-form-field>
    <button mat-raised-button (click)="addCaracteristique()" color="primary" class="ml-3">AJOUTER</button>
</div>